.Dashboard {
  background-color: #f4f6f6;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 40vh;
  padding-top: 15vh;
  padding-right: 10vh;
}
.Dashboard .container-dashboard {
  /* background-color: #4dbc9b; */
  align-items: center;
  width: 100%;
}
.listfile {
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #4dbc9b;
  gap: 10px;
}
.listfile .icon {
  display: flex;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  width: 200px;
  border-radius: 10px;
}
.listfile .icon i {
  font-size: 40px;
  margin-right: 1rem;
}
.listfile .icon {
  font-weight: 500;
}
.listfile .icon p {
  font-size: 14px;
}
.listfile .icon p:nth-child(2) {
  font-size: 10px;
}

.Chart {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 18px;
}
.Chart p {
  color: #64748b;
}
.Graphic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.graphicbar {
  /* background-color: #4dbc9b; */
  width: 100%;
}
