html {
  box-sizing: border-box;
}
.Dashboard {
  background-color: #fafafa;
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-top: auto;
  margin-right: 0;
  margin-bottom: 0;
}
.listfile {
  margin-top: 5%;
  margin-left: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #4dbc9b;
}
.listfile .icon {
  display: flex;
  padding: 10px 20px 10px 10px;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  margin-top: 1rem;
  min-width: 14%;
}
.listfile .icon i {
  font-size: 40px;
  margin-right: 1rem;
}
.listfile .icon {
  font-weight: 500;
}
.listfile .icon p {
  font-size: 14px;
}
.listfile .icon p:nth-child(2) {
  font-size: 10px;
}

.Chart {
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 8%;
  margin-bottom: 0;
  background-color: white;
  box-sizing: border-box;
}
.Chart p {
  color: #64748b;
}
.Graphic {
  box-sizing: border-box;
  margin-bottom: 10px;
  display: flexbox;
}
