.Dashboard {
  background-color: #f9f9f9;
  position: relative;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}
.listfile {
  margin-top: 10vh;
  margin-left: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: #4dbc9b;
}
.listfile .icon {
  display: flex;
  padding: 10px 20px 10px 10px;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  margin-top: 1rem;
  min-width: 14%;
}
.listfile .icon i {
  font-size: 40px;
  margin-right: 1rem;
}
.listfile .icon {
  font-weight: 500;
}
.listfile .icon p {
  font-size: 14px;
}
.listfile .icon p:nth-child(2) {
  font-size: 10px;
}

.Chart {
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 8%;

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.Chart p {
  color: #64748b;
}
.Graphic {
  position: relative;
  width: 80%;
  margin-top: 3rem;
  padding: 5%;
}
