.conPengumuman {
  top: 100px;
  position: relative;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  padding: 0 160px 0 160px;
  flex-direction: column;
  min-height: 600px;
}
.headPengumuman {
  width: auto;
  margin: 0 auto 40px auto;
}

.headPengumuman hr {
  border: 2px solid #20b486;
  border-radius: 4px;
}
/* custom table */
.tPengumuman {
  color: black;
  background-color: #ded9d9;
  font-size: 24px;
}
.tPengumuman tr > th {
  background-color: #20b486;
  padding: 10px 16px;
}
.tPengumuman tr td {
  background-color: #f5f5f5;
  padding: 10px 16px;
}
.tPengumuman tr > td > span {
  border: 1px solid #20b486;

  border-radius: 4px;
  color: #20b486;
  padding: 2px;
}

/* responsive */
@media only screen and (max-width: 1024px) {
  .conPengumuman {
    padding: 0 10px 0 10px;
  }
  .tPengumuman {
    font-size: 18px;
  }
}

@media only screen and (max-width: 420px) {
  .conPengumuman {
    padding: 0 10px 0 10px;
    font-size: 16px;
  }
  .tPengumuman tr > th {
    font-size: 12px;
  }
}
