.btn-komfirm-lpj {
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 10px;
}
.btn-komfirm-lpj button {
  padding: 10px 16px;
  border: none;
  color: white;
  border-radius: 4px;
  display: flex;
  gap: 10px;
}
.btn-komfirm-lpj .setuju {
  background-color: #4dbc9b;
}
.btn-komfirm-lpj .setuju:hover {
  background-color: #337d67;
}
.btn-komfirm-lpj .revisi {
  background-color: #fed700;
}
.btn-komfirm-lpj .revisi:hover {
  background-color: #817531;
}
.btn-komfirm-lpj .tolak {
  background-color: #f7084c;
}
.btn-komfirm-lpj .tolak:hover {
  background-color: #b10838;
}
.btn-komfirm-lpj .edit {
  background-color: #004fe3;
}
.btn-komfirm-lpj .edit:hover {
  background-color: #083ea2;
}

.file-up {
  background-color: #ebeded;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0;
  border-radius: 10px;
}
.file-up button {
  background-color: #4dbc9b;
  color: white;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 4px 20px;
}
.file-up p {
  text-align: left;
  margin-left: 4px;
}
.file-up button:hover {
  background-color: #286452;
}
.status {
  display: flex;
  gap: 10px;
  /* background-color: #004fe3; */

  justify-content: left;
  align-items: center;
}
.status .condition-acc {
  padding: 10px 24px;
  height: fit-content;
}
.finput .status .input-status {
  width: 100%;
}

.finput .status button {
  background-color: #4dbc9b;
}

.finput .file-BSPJ {
  background-color: #ebeded;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding: 5px;
  border-radius: 8px;
}
.finput .file-BSPJ .text {
  text-align: left;
  padding-left: 10px;
}
.file-BSPJ button {
  height: fit-content;
  padding: 10px 20px;
  font-size: 12px;
  align-items: center;
  border-radius: 10px;
  background-color: #4dbc9b;
  color: white;
}

.file-BSPJ button i {
  font-size: 12px;
}
.finput .text-konfirmasi {
  color: #888888;
  margin: 0;
  text-align: left;
  padding: 4px 0 0 10px;
}

.finput .file-upload .upload {
  position: absolute;
  visibility: hidden;
}
.finput .file-upload {
  background-color: #ffffff;
  width: 200px;
  padding: 6px 10px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(98, 97, 97);
  border: 2px solid #848484;
}
.finput .file-upload:hover {
  background-color: #d0ece7;
}
.finput .text-upload {
  color: #7a7a7b;
  text-align: left;
  margin-left: 10px;
}
.finput .btn_download {
  background-color: #088470;
  padding: 6px 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: white;
}
.finput .btn_download:hover {
  background-color: #0bb599;
}

/* PopUp SPJ */
.popUp-SPJ {
  background-color: rgba(1, 1, 1, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUp-SPJ .container-popUp {
  background-color: white;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  border-radius: 20px;
}
.popUp-KSPJ {
  background-color: rgba(1, 1, 1, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUp-KSPJ .container-popUp {
  background-color: white;
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  border-radius: 20px;
}
.SPJShow {
  display: none;
}
