.SideDash {
  width: 16%;

  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  height: 100%;
}
.SideDash .c-SideDash {
  /* background-color: aqua; */
  margin-top: 30%;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-SideDash img {
  background-color: #d9d9d9;
  height: 100px;
  width: 100px;
  border-radius: 24px;
  margin-bottom: 10px;
}
.c-SideDash p {
  margin-bottom: 10px;
  font-weight: 500;
  color: #6d6d6d;
}
.sideDash-f * {
  color: #6d6d6d;
}
.sideDash-f .icon {
  display: flex;
  align-items: center;

  margin-bottom: 4px;
  padding: 2px 0px 2px 19px;
  border-radius: 20px;
}
.sideDash-f .icon p {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
  margin-top: 10px;
}
/* test css pick button */
.sideDash-f .select-f {
  background-color: #4dbc9b;
}
.sideDash-f .select-f * {
  color: aliceblue;
}
