.finput .load-file {
  display: flex;
  margin-left: 0;
  margin-right: auto;
}
.finput .load-file p {
  text-align: left;
  margin-left: 1vh;
}

.finput .load-file button {
  padding: 0.5rem;
  background-color: #4dbc9b;
  border: none;
  color: white;
}
.finput .textbox {
  height: 100px;
  overflow: scroll;
}

.finput .condition-acc {
  background-color: rgb(234, 255, 0);
  color: rgb(249, 249, 248);
  border: none;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  align-items: center;
}
.finput .condition-acc i {
  font-size: 12px;
}

.read-only .finput input {
  pointer-events: none;
}
.read-only .finput .textbox {
  pointer-events: visible;
}

.finput .down-approve {
  display: flex;
  background-color: #ebeded;
  padding: 8px;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.finput .down-approve a {
  background-color: #4dbc9b;
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.finput .down-approve a:hover {
  background-color: #2f6f5b;
}
.finput .down-approve p {
  text-align: left;
  margin-left: 2px;
  font-size: 10px;
}

.fbtn-form .tolak {
  background-color: #f7084c;
}
.fbtn-form .tolak:hover {
  background-color: #b00838;
}
