.finput .load-file {
  display: flex;
  margin-left: 0;
  margin-right: auto;
}
.finput .load-file p {
  text-align: left;
  margin-left: 1vh;
}

.finput .load-file button {
  padding: 0.5rem;
  background-color: #4dbc9b;
  border: none;
  color: white;
}
.finput .textbox {
  height: 100px;
  overflow: scroll;
}

.finput .condition-acc {
  background-color: rgb(234, 255, 0);
  color: rgb(249, 249, 248);
  border: none;
  border-radius: 0.5rem;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  align-items: center;
}
.finput .condition-acc i {
  font-size: 12px;
}

.read-only .finput input {
  pointer-events: none;
}
.read-only .finput .textbox {
  pointer-events: visible;
}

.finput .down-approve {
  display: flex;
  background-color: #ebeded;
  padding: 8px;
  border-radius: 10px;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.finput .down-approve a {
  background-color: #4dbc9b;
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.finput .down-approve a:hover {
  background-color: #2f6f5b;
}
.finput .down-approve p {
  text-align: left;
  margin-left: 2px;
  font-size: 10px;
}

.fbtn-form .tolak {
  background-color: #f7084c;
}
.fbtn-form .tolak:hover {
  background-color: #b00838;
}

.download-acc {
  margin-top: 20px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;

  padding: 2rem;
}
.download-acc .headcontent {
  display: flex;
  justify-content: space-between;
}
.download-acc .headcontent h4 {
  font-weight: 500;
}
.download-acc .line {
  margin-top: 10px;
  border: 1px solid rgb(200, 198, 198);
  border-radius: 4px;
}
.download-acc .finput {
  display: flex;
  margin-top: 20px;
}
.download-acc .finput .download-file {
  background-color: #4dbc9b;
  border: none;
  font-size: 12px;
  color: white;
}
.download-acc .finput .download-file:hover {
  background-color: #388970;
}
.download-acc .finput .download-file i {
  font-size: 12px;
}
.download-acc .finput .name {
  color: #818181;
}

.headcontent * {
  color: #4dbc9b;
}
.downloadHide {
  display: none;
}

/* pop approve */
.popUp-Approve {
  background-color: rgba(1, 1, 1, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp-Approve .container-popUp {
  background-color: #fdfdfd;
  width: 400px;
  height: 200px;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-popUp .icon {
  background-color: rgba(12, 171, 36, 0.2);
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 40px;
  border-radius: 90px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

  color: green;
  margin-bottom: 20px;
}
.container-popUp .icon-x {
  background-color: rgba(171, 12, 12, 0.2);
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 40px;
  border-radius: 90px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

  color: rgb(128, 11, 0);
  margin-bottom: 20px;
}

.container-popup-permit {
  background-color: rgba(1, 1, 1, 0.2);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-popup-permit .container-content {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container-popup-permit .container-content .btn-permit {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}
.container-popup-permit .container-content .btn-permit button {
  padding: 4px 10px;
}
.container-popup-permit .container-content .btn-permit button:nth-child(1) {
  background-color: #50b595;
}
.container-popup-permit .container-content .btn-permit button:nth-child(1):hover {
  background-color: #39816a;
}
.container-popup-permit .container-content .btn-permit button:nth-child(2) {
  background-color: #c91616;
}
.container-popup-permit .container-content .btn-permit button:nth-child(2):hover {
  background-color: #6e0d0d;
}
.SetujuShow {
  display: none;
}

.TolakShow {
  display: none;
}
.permitShow {
  display: none;
}
