.userContainer {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 800px;
  background-color: aliceblue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headContainer {
  height: 80px;
  background-color: #e6f5f0;
  box-sizing: border-box;
  position: relative;
  top: -30vh;
}
.headContainer h2 {
  margin-left: 40vh;
  margin-top: 30px;
}
.tUserContainer {
  height: 30%;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.tUser {
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 10%;
}
.tUser,
.tUser th,
.tUser td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  /* border-color: rgb(237, 0, 0); */
  padding: 10px 40px;
}
.tUser th:nth-child(1) {
  background-color: #20b486;
  border-radius: 8px 0 0 0;
}
.tUser th:nth-child(6) {
  background-color: #20b486;
  border-radius: 0 8px 0 0;
}
.tUser th:nth-child(2),
.tUser th:nth-child(3),
.tUser th:nth-child(4),
.tUser th:nth-child(5) {
  background-color: #20b486;
}
.tUser .form-icon {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.form-icon i:nth-child(1) {
  color: red;
  cursor: pointer;
}
.form-icon i:nth-child(2) {
  color: rgb(221, 255, 53);
  cursor: pointer;
}
.btn-addUser {
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  position: relative;
  margin-bottom: 2rem;
  margin-right: 0;
  margin-left: 150vh;
}
.btn-addUser:hover {
  background-color: #20b486;
  cursor: pointer;
}
