.userContainer {
  min-height: 200vh;
  background-color: rgb(233, 233, 239);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 0;
}

.headContainer {
  margin: 0 0 0 0;
  height: 80px;
  width: 100%;
  background-color: #e6f5f0;
  display: flex;
  margin-top: 10vh;
  justify-content: left;
}
.headContainer h2 {
  margin-left: 40vh;
  margin-top: 30px;
}
.tUserContainer {
  margin: 30px 0 0 0;
  left: 0;
  right: 0;
  background-color: bisque;
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30vh;
}

.tUser {
  border-collapse: collapse;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 50vh;
  margin-right: auto;
}

.tUser th,
.tUser td {
  /* border: 1px solid black; */
  /* border-collapse: collapse; */
  /* border-color: rgb(237, 0, 0); */
  padding: 10px 40px;
}
.tUser th:nth-child(1) {
  background-color: #20b486;
  border-radius: 8px 0 0 0;
}
.tUser th:nth-child(6) {
  background-color: #20b486;
  border-radius: 0 8px 0 0;
}
.tUser th:nth-child(2),
.tUser th:nth-child(3),
.tUser th:nth-child(4),
.tUser th:nth-child(5) {
  background-color: #20b486;
}
.tUser .form-icon {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}
.form-icon i:nth-child(1) {
  color: red;
  cursor: pointer;
}
.form-icon i:nth-child(2) {
  color: rgb(221, 255, 53);
  cursor: pointer;
}
.btn-addUser {
  width: 5rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  position: relative;
  margin-bottom: 2rem;
  margin-right: 0;
  margin-left: 150vh;
}
.btn-addUser:hover {
  background-color: #20b486;
  cursor: pointer;
}

/* responsib */
@media only screen and (max-width: 1200px) {
  .tUser {
    margin-left: 10vh;
  }
}
@media only screen and (max-width: 1500px) {
  .tUser {
    margin-left: 30vh;
  }
}
@media only screen and (max-width: 920px) {
  .tUser {
    margin-left: 10vh;
  }
}
