.addPropalForm-container {
  background-color: rgb(240, 237, 237);
  width: 100%;
  min-height: 800px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}
.addPropalForm-container .hProposalForm {
  background-color: #ccece1;
  height: 80px;
  margin-top: 10vh;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  padding-left: 38vh;
  padding-right: 10vh;
  justify-content: space-between;
  padding-top: 30px;
}
.container-formAddProp {
  /* background-color: #367cff; */
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  padding-top: 10vh;
  padding-left: 40vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-right: 5vh;
}
.formaddProp {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-sizing: border-box;

  /* margin-right: 5vh; */
  width: 100%;
}
.formaddProp .headForm {
  display: flex;
  justify-content: space-between;
  color: rgb(85, 169, 141);
}
.formaddProp .headForm p {
  font-weight: 600;
}
.formaddProp .line {
  margin-top: 10px;
  border: 1px solid rgb(203, 203, 203);
  margin-bottom: 20px;
}
.formaddProp .finput {
  display: flex;
  justify-content: left;
}
.addProposal {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.finput .contInput {
  /* background-color: #367cff; */
  margin: 0 10px 10px 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.formaddProp .finput input {
  width: inherit;
  font-size: 12px;
}
.finput {
  font-weight: 600;
}
.finput .contInput p {
  margin-top: 2px;
}
.finput * {
  box-sizing: border-box;
}
.contInput .permohonan .icon {
  font-size: 12px;
}
.contInput .permohonan {
  width: fit-content;
  box-sizing: border-box;
  font-size: 12px;
  margin-left: 0;
  padding: 8px;
  background-color: #fdfdfd;
}

.finput input {
  padding: 14px 10px 14px 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgb(235, 237, 237);
}
.finput p {
  color: #4dbc9b;
  margin-top: 10px;
  width: 20%;
  text-align: right;
}
.finput button {
  margin-left: 10px;
  border: 2px solid #4dbc9b;
  padding: 10px 40px;
  border-radius: 4px;
  display: flex;
  font-size: 20px;
  color: #4dbc9b;
}

.finput button i {
  margin-right: 10px;
  font-size: 20px;
}
.finput .hide {
  opacity: 0;
}
.finput .kosong {
  margin-left: 10px;
  margin-top: -4px;
  justify-content: left;
  display: flex;
  color: rgb(181, 182, 183);
  font-size: 10px;
}
.finput .content {
  display: flex;
  align-items: center;
}

.fbtn-form {
  display: flex;
  justify-content: center;
  margin-right: 6rem;
  gap: 10px;
  margin-left: auto;
  margin-right: 100px;
}
.fbtn-form button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}
.fbtn-form button i {
  font-size: 20px;
}

.fbtn-form button:nth-child(1) {
  background-color: #4dbc9b;
}
.fbtn-form button:nth-child(1):hover {
  background-color: #326c5a;
  cursor: pointer;
}

/* valid form */
.popup-valid {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-valid .container-popup {
  background-color: #fdfdfd;
  width: 400px;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 12px;
  font-weight: 600;
}
.popup-valid .container-popup button {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  margin-top: 20px;
  border: 2px solid rgb(183, 180, 180);
  width: 50%;
  font-weight: 700;
}
.popup-valid .container-popup button:hover {
  background-color: #dfdede;
  color: white;
}
.popup-valid .container-popup .icon {
  font-size: 24px;
  color: rgb(171, 23, 23);
  margin-left: 0;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(143, 13, 13, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-valid .container-popup p:nth-child(4) {
  color: orange;
  font-size: 10px;
}
.validshow {
  display: none;
}

.popUp-Ajukan {
  background-color: rgba(1, 1, 1, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  justify-content: center;
  display: flex;
  align-items: center;
}

.popUp-Ajukan .container-popUp {
  background-color: #ffffff;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 20px;
}

.AjukanShow {
  display: none;
}

/* PopUP permission */
.containerPopUp_Permission {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.containerPopUp_Permission .container_content {
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerPopUp_Permission .container_content .icon {
  font-size: 30px;
  margin-left: 0;
  margin-right: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgba(200, 126, 16, 0.2);
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: auto;
}
.containerPopUp_Permission .container_content p {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
}
.containerPopUp_Permission .container_content .btn {
  display: flex;
  gap: 10px;
  margin-top: auto;
  width: 100%;
}
.containerPopUp_Permission .container_content .btn button {
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  color: rgb(72, 71, 71);
  font-weight: 600;
  margin: 0;
}
.containerPopUp_Permission .container_content .btn button:nth-child(1) {
  background-color: #ffffff;
  border: 3px solid rgb(127, 124, 124);
  width: 50%;
}
.containerPopUp_Permission .container_content .btn button:nth-child(1):hover {
  background-color: #c0c3c2;
  color: #ffffff;
}
.containerPopUp_Permission .container_content .btn button:nth-child(2) {
  background-color: #980b0b;
  width: 50%;
  color: white;
}
.containerPopUp_Permission .container_content .btn button:nth-child(2):hover {
  background-color: #c4c4c4;
  color: white;
}
.permitShow {
  display: none;
}
/* .fbtn-form button:nth-child(2) {
  background-color: #367cff;
}
.fbtn-form button:nth-child(2):hover {
  background-color: #5c90f2;
  cursor: pointer;
}
.fbtn-form button:nth-child(3) {
  background-color: #f7084c;
}
.fbtn-form button:nth-child(3):hover {
  background-color: #f03d70;
  cursor: pointer;
} */

/* @media only screen and (max-width: 1224px) {
  .formaddProp {
    margin-left: 30vh;

    margin-right: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .formaddProp .finput input {
    margin-left: 10px;
    margin-right: 20px;
    width: 90vh;
  }
  .finput p {
    color: #4dbc9b;
    margin-top: 10px;
    width: 200px;
    text-align: left;
    margin-left: 20px;
  }
  .formaddProp {
    margin-left: 25vh;

    margin-right: 1vh;
  }
  .hProposalForm h2 {
    margin-left: -24vh;
    font-size: 14px;
  }
  .hProposalForm p {
    font-size: 10px;
  }
}
@media only screen and (max-width: 535px) {
  .formaddProp {
    margin-left: 15vh;

    margin-right: 1vh;
  }
  .hProposalForm h2 {
    margin-left: -34vh;
    font-size: 14px;
    width: 100px;
  }
  .hProposalForm p {
    display: none;
  }
  .addPropalForm-container .hProposalForm {
    background-color: #ccece1;
    height: 80px;
    margin-top: 10vh;
    width: 100%;
    margin-left: 0vh;
    margin-right: 0;
    display: flex;
    padding-left: 0vh;
    padding-right: 10vh;
    justify-content: space-between;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 440px) {
  .formaddProp {
    margin-left: 1vh;

    margin-right: 1vh;
  }
} */
