.Proposal_container {
  background-color: rgb(243, 246, 246);
  display: flex;
  justify-items: center;
  flex-direction: column;
  min-height: 150vh;
}

.container-tabel {
  /* background-color: #20b486; */
  justify-content: center;
  align-items: center;
  padding-left: 15%;
  display: flex;
  margin: 0;
  padding-bottom: 10vh;
}
.tProposal_container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 30px;
  padding: 2rem;
  text-align: center;
  font-size: 12px;
}

.hProposal {
  background-color: #e6f5f0;
  height: 80px;
  margin: 10vh 0 0 0;
}

.hProposal h2 {
  margin-top: 20px;
  margin-left: 40vh;
}
.headtproposal {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Proposal_container hr {
  border: 1px solid rgb(226, 228, 226);
  width: 100%;
  margin-top: 10px;
}
.fproposaltabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.fproposaltabel .search {
  width: 200px;
  border-radius: 5px;
  border: none;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: rgb(218, 220, 222);
  outline: none;
}
.fsearch i {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  color: #757597;
}
.fbtn button {
  border: none;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}
.fbtn button {
  cursor: pointer;
}
.fbtn button i {
  margin-right: 10px;
}

/* .fbtn button:nth-child(1) {
  background-color: #cc2525;
}
.fbtn button:nth-child(1):hover {
  background-color: #752222;
} */
.fbtn button:nth-child(1) {
  background-color: #2016a5;
}
.fbtn button:nth-child(1):hover {
  background-color: #141662;
}

.tabPengajuanProposal {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.tabPengajuanProposal tr th {
  background-color: #20b486;
  padding: 1rem;
}
.tabPengajuanProposal tr th:nth-child(1) {
  background-color: #20b486;
  border-radius: 4px 0 0 0;
}
.tabPengajuanProposal tr th:nth-child(8) {
  background-color: #20b486;
  border-radius: 0 0 0 0;
}
.tabPengajuanProposal tr th:nth-child(9) {
  background-color: #20b486;
  border-radius: 0 4px 0 0;
}
.tabPengajuanProposal tr td {
  max-width: 150px;
}
.fstatustable {
  color: white;
  padding: 6px;
  margin: 2px;
  border: none;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fstatustable button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 8px;
  color: white;
}
.fstatustable .views-prop {
  background-color: #20b486;
}
.fstatustable .edit-prop {
  background-color: #2752c6;
}
.fstatustable .delete-prop {
  background-color: #cc2525;
}
.fstatustable button:hover {
  background-color: rgb(188, 189, 191);
}
/* effect bottom line table */
.tabPengajuanProposal tr {
  border-bottom: 2px solid rgb(176, 173, 173);
}

.tProposal_container .tfooter1 {
  margin: 0;
  width: 100%;
}
/*hide pagination element */
.MuiTablePagination-selectLabel {
  display: none;
}
.MuiInputBase-root {
  opacity: 0;
}
.MuiInputBase-root .MuiSelect-select {
  display: none;
}

@media only screen and (max-width: 1250px) {
  /* .container-tabprop {
    padding-left: 20%;
  } */
  .tabPengajuanProposal tr th {
    font-size: 12px;
    padding: 2px 0px;
  }
}
@media only screen and (max-width: 420px) {
  .hProposal {
    margin: 27vh 0 0 0;
  }
}

/* css popup delete */
.popUp-Delete {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(170, 222, 197, 0.2);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popUp-Delete .box i {
  margin-left: 0;
  margin-right: 100%;
  color: #d98320;
  font-size: 30px;
  margin-bottom: 20px;
  background-color: rgba(204, 154, 112, 0.2);
  padding: 10px;
  border-radius: 30px;
}
.popUp-Delete .box {
  width: 400px;
  height: 200px;
  background-color: #fdfffe;
  padding: 20px;
  border-radius: 4px;
}
.popUp-Delete .g-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}
.g-btn button {
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.g-btn button:nth-child(2) {
  background-color: #f9f9f9;
  border: 2px solid rgb(100, 100, 100);
  color: rgb(72, 72, 72);
}
.g-btn button:nth-child(1) {
  background-color: rgb(243, 244, 246);
  border: 2px solid rgb(100, 100, 100);
  color: rgb(72, 72, 72);
}
.g-btn button:nth-child(1):hover {
  background-color: #85d4bb;
}
.g-btn button:nth-child(2):hover {
  background-color: #d48d85;
}

.showoff {
  display: none;
}
