.conRegister {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(242, 241, 241);
  display: flex;
  justify-content: center;
}

.form-Register {
  margin-top: 8%;
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  background-color: #4dbc9b;
  border-radius: 10%;
  width: 400px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
  gap: 10px;
  color: white;
}
.form-Register h2 {
  text-align: center;
}

.form-Register label {
  font-weight: 500;
  font-size: 14px;
}
.form-Register input {
  height: 2rem;
  padding: 5px;
  border: 2px solid #2e8369;
  border-radius: 4px;
  outline: none;
  font-weight: 300;
}

.form-Register .upload {
  border: none;
}
.form-Register button {
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-right: auto;
  margin-left: auto;
  background-color: #448672;
}

.image {
  width: 200px;
  height: 200px;
}
