.contentContainer {
  padding: 0 160px 0 160px;
  display: flex;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  justify-content: center;
  min-height: 800px;
}
.contentContainer .sideRight img {
  position: relative;
  margin-bottom: 0;
  top: 200px;
}
.contentContainer .sideLeft {
  max-width: 799px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.sideLeft h2 {
  font-size: 58px;
}
.sideLeft p {
  color: #c3bec7;
  margin-bottom: 10px;
}

.conButton a > button {
  width: 137px;
  height: 52px;
  margin: 0 25px 0 0;
  border: 0;
  border-radius: 10px;
}
.conButton :nth-child(1) > button {
  border: 2px solid #20b486;
  color: #20b486;
  cursor: pointer;
}
.conButton :nth-child(1) > button:hover {
  background-color: #7dbaa7;
  color: #ffffff;
}
.conButton :nth-child(2) > button {
  background-color: #20b486;
  color: #ffff;
  cursor: pointer;
}
.conButton :nth-child(2) > button:hover {
  background-color: #5ccaa8;
}

/* response */
@media only screen and (max-width: 1024px) {
  .contentContainer {
    min-height: 800px;
  }

  .contentContainer .sideRight img {
    width: 50%;
    /* position: absolute; */
    left: 100px;
    bottom: -10rem;
    margin-left: -10rem;
    width: 25rem;
  }
  .sideLeft h2 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 920px) {
  .contentContainer {
    flex-wrap: wrap-reverse;
    gap: 20px;
    justify-content: center;
    padding: 0 20px 0 20px;
  }
}
@media only screen and (max-width: 420px) {
  .contentContainer .sideRight img {
    width: 200px;
  }
  .conButton {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contentContainer {
    text-align: center;
  }
}
