.conRegister {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 242, 242);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.form-Register {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  width: 100%;
  padding: 2rem;
  gap: 10px;
  color: rgb(32, 134, 90);
}
.line-space {
  width: 100%;
  margin-bottom: 30px;
  border: 0.5px solid #e2dfdf;
}

.form-Register label {
  font-weight: 500;
  font-size: 14px;
}
.form-Register input {
  height: 2rem;
  padding: 5px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-weight: 300;
  width: 100%;
  margin-left: auto;
  margin-right: 3rem;
  background-color: rgba(205, 205, 205, 0.1);
  padding-left: 1rem;
}
.form-Register .role {
  position: relative;
  left: -5rem;
  border: none;
  background-color: rgba(205, 205, 205, 0.1);
  padding: 8px 20px;
  border-radius: 4px;
}
.form-Register .role:hover {
  background-color: rgba(91, 89, 89, 0.1);
}
.role option {
  border: none;
  background-color: rgba(205, 205, 205, 0.1);
}
.role::after {
  /* content: '\25BC'; */
  position: absolute;
  top: 0;
  right: 0;
}
.role option {
  background-color: rgba(205, 205, 205, 0.1);
}
.form-Register .upload {
  border: none;
}
.form-Register button {
  position: relative;
  width: 50%;
  height: 3rem;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  background-color: #71a59d;
  margin: auto 0 0 auto;
}
.form-Register button:hover {
  background-color: #3b7069;
}

.image {
  width: 200px;
  height: 200px;
}
/* .popUp {
  position: fixed;
  z-index: 999;
  background-color: rgba(83, 173, 135, 0.3);

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popUp .conPopUp {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: #2e8369;
}
.conPopUp button {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 30px;
  color: #448672;
  border: none;
  position: static;
  margin-right: 0;
  margin-left: 90%;
  margin-top: 10px;
}
.conPopUp button:hover {
  color: rgb(2, 7, 6);
}
.conPopUp p {
  margin-top: 30px;
  margin-bottom: auto;
  text-align: center;
  color: aliceblue;
} */

.popUpRegister {
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUpRegister .container-popup {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popUpRegister .container-popup .icon {
  font-size: 60px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(29, 122, 63, 0.2);
  color: #3b7069;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpRegister .container-popup .iconx {
  font-size: 50px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: rgba(158, 20, 16, 0.2);
  color: #830909;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUpRegister .container-popup .text {
  font-size: 12px;
  margin-top: 1rem;
}

/* click funtion */
.popshow {
  display: none;
}

.item-set {
  display: flex;
}
.item-set label {
  width: 300px;
}
